.card {
    border: 3px solid;
    border-radius: 15px;
    text-align: center;
    margin: 10px 4px;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 500px;
    max-width: 500px;
    background-color: crimson;
}

.card .titulo {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.card .conteudo {
    padding: 10px;
    flex-grow: 1;
}